autopep8==1.5.7
grpcio==1.38.1
grpcio-tools==1.38.1
imutils==0.5.4
numpy==1.21.0
opencv-contrib-python==4.5.2.54
Pillow==8.2.0
pip==21.1.2
protobuf==3.17.3
pycodestyle==2.7.0
pycoral==1.0.1
setuptools==49.2.1
six==1.16.0
tflite-runtime==2.5.0
toml==0.10.2
