pip install -U --extra-index-url https://google-coral.github.io/py-repo/ `
jupyterlab numpy pandas opencv-contrib-python ` 
imutils matplotlib grpcio autopep8 grpcio-tools tensorflow pycoral

pip install -U \
jupyterlab numpy pandas opencv-contrib-python \
imutils matplotlib grpcio autopep8 grpcio-tools tensorflow flask gunicorn